head
  link(rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css")
  link(rel="stylesheet" href="css/style.css" type="text/css")
  script.
    window.__FILE_MAX_SIZE__ = #{env.FILE_MAX_SIZE};
    window.__FILE_ALLOWED_FORMATS__ = "#{env.FILE_ALLOWED_FORMATS}";