div.row
  div.col
    div.card
      div.card-header
        span Ostatnio dodane
      ul.list-group.list-group-flush
        li.list-group-item zalacznik_1.zip
        li.list-group-item obraz_123.png
        li.list-group-item fotki_wakacje.zip
        li.list-group-item zima.jpg
        li.list-group-item GIMP_2_12_2.exe
    div.card.mt-3
      div.card-header
        span Najchętniej pobierane
      ul.list-group.list-group-flush
        li.list-group-item icy_tower_1_2.zip
        li.list-group-item mapa.png
        li.list-group-item kebab.zip
        li.list-group-item a3453_2354a.jpg
        li.list-group-item hash.exe