html
  include includes/head
    title Uploader - usuń plik
  body
    include includes/header
    div.container
      div.row.mt-3
        div.col-8
          span.h1 usuń plik
          hr
          if status === 'success'
            p.alert.alert-success.mt-2 Plik został usunięty.
          else if status === 'failed'
            p.alert.alert-danger.mt-2 Wystąpił błąd podczas usuwania pliku.
          form(action="/remove" method="POST")
            div.form-group.mt-3
              label(for="fileUrl")
                span ID usuwanego pliku:
                br
                small.text-muted Podaj ID usuwanego pliku.
              input.form-control#fileUrl(name="id")
            div.form-group.mt-3
              label(for="deleteCode")
                span Kod dostępu:
                br
                small.text-muted Podaj unikatowy kod, który został wygenerowany podczas dodawania pliku.
              input.form-control#deleteCode(name="deleteCode")
            button.btn.btn-info.mt-1#deleteFileBtn(type="submit" disabled)= "Usuń"
          include includes/scripts
        div.col-4
          include includes/sidebar
      include includes/footer